body,
.wrapper {
	background-color: #ecf0f5!important;
}

.skin-blue .main-header .logo {
    background-color: #3c8dbc;
}

.box-header {
    color: #fff;
    background: #3c8dbc;
}

@media (max-width: 767px) {
	nav {
		display: none;
	}
}